{% extends 'base.html' %}
{% load static %}
{% block chats %}
<link rel="stylesheet" href="{% static 'chat-display.css' %}">
<div class="rooms">
    {% for room in all_rooms %}
    <div class="room">
        <div class="room-photo"></div>
        <div class="message-title-container">
            <div class="room-name">{{ room.name }}</div>
            <div class="random-message">{{ room.random_message }}</div>
        </div>
        <div class="room-logged-users">Active{{ room.actual_logged_users }}   </div>
        <div class="room-maximum-users">{{ room.maximum_user }}</div>
        <a href="{% url 'room_detail' room.pk %}">
            <button>Join</button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}