{% extends 'base.html' %}
{% load static %}
{% block room_create %}
<link rel="stylesheet" href="{% static 'chat-display.css' %}">
    <div class="room-create-form">
    <p>Sworz swoj własny pokój</p>
        <form method="post">
            {% csrf_token %}
            <div class="input-room-container">
                <label>{{ form.name.label }}</label>
                <div id="input-data">{{ form.name }}</div>
            </div>
            <div class="input-room-container">
                <label>{{ form.password.label }}</label>
                <div id="input-data">{{ form.password }}</div>
            </div>
            <button type="submit">Stworz pokój</button>
        </form>
    </div>
{% endblock %}
<script>
    var side_bar = document.getElementsByClassName('right-sidebar');
    side_bar.style.overflow = 'hidden';
</script>