{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'right-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'chat-display.css' %}">
    <div class="password-entry {% if proper_password %}hidden{% endif %}">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button_style" type="submit">Pass</button>
        </form>
    </div>
    <!--- mozna dodac opcje resign i wypisac ze z czatu zwolnic miejsce innym -->
    <div class="chat-window {% if not proper_password %}hidden{% endif %}">
        {{ information }}
        <div id="messages-container">
            {% for message in messages %}
            <div class="message-container">
                <div class="message-row">
                    {% if message.sender_id == request.user.id %}
                        <div class="user-actual">
                            {{ request.user.username }}
                        </div>
                    <div class="your-messages">
                        <div class="message-display">
                            {{ message.message_content }}
                        </div>
                    </div>
                    {% else %}
                        <div class="other-user">
                            {{ message.sender.username }}
                        </div>
                    <div class="others-messages">
                        <div class="message-display">
                            {{ message.message_content }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <form id="message-form" class="custom-from {% if not proper_password %}hidden{% endif %}">
            <input type="text" id="message-input">
            <button class="button_style" type="submit" onclick="scrollToBottom()">Send</button>
        </form>
    </div>


</div>
<script>
    const chatWindow = document.querySelector('.chat-window');
    var properPassword = "{{ proper_password }}";

    const messageForm = document.getElementById('message-form');

    function scrollToBottom() {
        chatWindow.scrollTop = chatWindow.scrollHeight;
    }


    const messageContainer = document.getElementById('messages-container');
    var roomDetailJson = JSON.parse('{{ room_detail|escapejs }}');

    var url = window.location.href;
    var parts = url.split('/');
    const room_id = parts[parts.length - 2];
    var userId = "{{ request.user.id }}";

    var socket = new WebSocket(`ws://localhost:8000/ws/server-url/${room_id}/`);
    window.addEventListener('load', scrollToBottom);

    socket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log(data);
        if (userId == data.userId) {
            messageContainer.insertAdjacentHTML('beforeend',
            `<div class="message-container">
                 <div class="message-row">
                    <div class="your-messages">
                         <div class="user-actual">
                            ${data.sender_data}
                         </div>
                         <div class="message-display">
                             ${data.message}
                         </div>
                     </div>
                 </div>

             </div>`);
        } else {
            messageContainer.insertAdjacentHTML('beforeend',
            `<div class="message-container">
                <div class="message-row">
                     <div class="others-messages">
                        <div class="other-user">
                            <p>${data.sender_data}</p>
                        </div>
                         <div class="message-display">
                             <p>${data.message}</p>
                         </div>
                     </div>
                 </div>
             </div>`);
        }
        scrollToBottom();
        console.log(userId);
        console.log(data.userId);
    };

    document.querySelector('#message-form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent form submission
        var inputField = document.querySelector("#message-input");
        var message = inputField.value.trim();  // remove all white spaces
        inputField.value = '';
        console.log(message);
        if (message != "") {
            socket.send(
                    JSON.stringify({
                        message: message,
                        room_id: room_id,
                        user_id: userId
                    }));
        } else {
            console.log("nie udalo sie wyslac wiadomosci");
        }
    });

    socket.onerror = function (error) {
        console.log(error);
    };

    const messageContainers = document.querySelectorAll('.message-container');

    // Loop through the message containers (excluding the last one)
    for (let i = 0; i < messageContainers.length - 1; i++) {
        const currentContainer = messageContainers[i];
        const nextContainer = messageContainers[i + 1];

        const currentUser = currentContainer.querySelector('.user-actual');
        const nextUser = nextContainer.querySelector('.user-actual');

        const currentOther = currentContainer.querySelector('.other-user');
        const nextOther = nextContainer.querySelector('.other-user');

        const currentContent = currentUser ? currentUser.textContent.trim() : '';
        const nextContent = nextUser ? nextUser.textContent.trim() : '';

        const currentOtherContent = currentOther ? currentOther.textContent.trim() : '';
        const nextOtherContent = nextOther ? nextOther.textContent.trim() : '';

        if (currentContent === nextContent) {
            if (nextUser) {
                nextUser.style.display = 'none';
                const yourMessage = currentContainer.querySelector('.message-display');
                yourMessage.style.marginBottom = '1px';
                yourMessage.style.marginTop = '1px';
            }
        }

        if (currentOtherContent === nextOtherContent) {
            if (nextOther) {
                nextOther.style.display = 'none';
                const otherMessage = currentContainer.querySelector('.message-display');
                otherMessage.style.marginBottom = '1px';
                otherMessage.style.marginTop = '1px';
            }
        }
    }
    /*
        Part responsible for remove user-actual after send message or something like that
     */
    var button = document.getElementById('button_style');
    button.onclick = hideUser;
    function hideUser() {
        console.log("elo");
        var lastSendedMessage = messageContainers.length - 1;
        var sendedMessageInfo = messageContainers[lastSendedMessage];
        var actualUserClass = sendedMessageInfo.querySelector('.user-actual');
        var otherUserClass = sendedMessageInfo.querySelector('.other-user');
        if (otherUserClass) {
            var userClassView = messageContainers[lastSendedMessage + 1].querySelector('.user-actual');
            var sdClassView = messageContainers[lastSendedMessage + 1].querySelector('.message-display');
            console.log(sdClassView.textContent);
            sdClassView.style.display = 'none';
        }
        console.log(actualUserClass);
    }


</script>

{% endblock %}