{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-input">
            <form method="post">
                <h1>Login</h1>
                <p>Login to one of the best chats</p>
                {% csrf_token %}
                <label>{{ form.username.label }}*</label>
                <br>
                {{ form.username }}
                <br>
                <label>{{ form.password.label }}*</label>
                <br>
                {{ form.password }}
                <br>
                <button id="btn-login" type="submit">Login</button>
            </form>
        </div>
        <div class="login-photo">
            esa
        </div>
    </div>
</body>
</html>