{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-input">
            <h1>Rejestracja</h1>
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                {% for field in form %}
                    <label>{{ field.label }}*</label>
                    <br>
                    {{ field }}
                    <br>
                {% endfor %}
                <button id="btn-login" type="submit">Register</button>
            </form>
        </div>
        <div class="login-photo">
            <p>Join to us and enjoy conversation with your best friends</p>
            <img src="/static/photos/chat_people_tech_talk_communication-18876.jpg">
        </div>
    </div>
</body>
<script>
</script>
</html>