@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@200&family=Nunito:wght@300&display=swap');
/*
  font-family: 'Nunito', sans-serif;
 */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
div.chat-messages-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.wave {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  overflow: hidden;
}
.wave::before,
.wave::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
}

.wave::before {
  transform: skewY(2deg);
  transform-origin: top left;
}

.wave::after {
  transform: skewY(-2deg);
  transform-origin: top right;
}

.wave svg {
  position: relative;
  z-index: 1;
}
.room-create-form{
  margin: 20px;
}
.room-create-form button{
  border-radius: 10px;
  background: linear-gradient(135deg, #0b0b0b, #222727) border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 1000;
  padding: 10px;
  width: 120px;
  color: white;
  transition: width 2s;
  text-align: center;
  margin-left: 170px;
}
.room-create-form label{
  color: white;
  font-family: 'Comfortaa', cursive;
}
#input-data input{
  height: 35px;
  border-bottom: 1px solid white;
  background-color: inherit;
  border-left: 0;
  border-right: 0;
}
.room-create-form p{
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-weight: 1000;
  font-size: 40px;
}
.input-room-container{
  display: flex;
  margin: 10px;
}
.input-room-container label{
  margin-top: 10px;
}
input[name="password"]{
  margin-left:30px;
}
input[name="name"]{
  margin-left:60px;
}

/**
  part of room and rooms display
 */
div.rooms{
  display: flex;
  flex-direction: column;
    gap: 10px;
  margin-top: 60px;
  margin-left: 30px;
}
div.rooms a{
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.room{
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: inherit;
  border-radius: 15px;
}
.button_style{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-family: 'Dosis', sans-serif;;
  font-weight: 600;
  background-color: #ebecee;
  font-size: 15px;
  border: none;
  color: black;
}

.button_style:hover{
  background-color: #5E5694;
}
.rooms a{
  text-decoration: none;
}
.room:hover{
  background :linear-gradient(135deg, #243f78, #141c23);
  transition: background-color 0.3s ease;
}

.room-photo{
  margin-right: 60px;
  width: 70px;
}
.room-name{
  gap: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  color:white;
  font-family: 'Mulish', sans-serif;
}
.random-message{
  margin-right: 15px;
  color: #a3a1a1;
  font-family: 'Nunito', sans-serif;

}
.message-title-container{
  flex-direction: column;
  width: 300px;
}
.room-logged-users{
  margin-right: 15px;
  background-color: green;
  height: 20px;
}
.room-maximum-users{
  margin-right: 50px;
}

.password-entry{
  margin-top: 30%;
  margin-left: 40%;
  /* background-color: #2f2b2b; */
  height: 150px;
  width: 200px;
}
.password-entry label{
  color: white;
  font-family: 'Nunito', sans-serif;
}
.password-entry input{
  border-radius: 15px;
  height: 40px;
  margin-left: 0;
}