<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="title-format title">
    Chat online and Blog
</div>
<div class="title-format photo-title">
</div>
<div class="title-format story-title">
    Hi my name is Kamil. I wanna become sof dev this is my project those i used
    channels asgi and alot of css and html.
    My story with coding i started in secondary schools but i gave up it was
    C++ and i was completely exastued and broken and i stopped learn.
    <div id="targets">
        <h3>My targets according to this project was:</h3>
        <p>
            1. Deploy with Docker
            2. Learn async and ho working Chat
            3. Add feature those i learn earlier
            4. Develop yourself
        </p>
    </div>
</div>
</body>
</html>